.header {
    width: 100%;
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
  }
  
  .header .app-cabecera {
    display: flex;
    align-items: center;
  }
  app-pipe{
    bottom:0;
  }